<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 5 | Mike The Tiger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>What game would be complete for a 5-year-old without seeing Mike The Tiger? Or "Costume Mike" as Liam calls him! With LSU cruising to an easy victory in the final minutes, Liam and I left our seats and walked down to the bottom of the student section in the corner of the end zone below us where he was still entertaining the fans awaiting the final whistle.</p>
  <img src="../../assets/photos/Liam5.JPG">
  <p>"Mike! Mike!" Liam called out. The towering Tiger turned around, a wide smile forever on his face. After exchanging high fives and handshakes, Mike hugged Liam tightly and posed for a picture. It was the perfect end to a memorable night with my son. And we will always cherish these special memories.</p>
  <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter6']">Next Chapter</ion-button>
  <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter4']">Previous Chapter</ion-button>
  <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
  <p class="page">Page 5</p>
</ion-content>
