<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 4 | Game Time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Not even temperatures dipping into the 40s could temper our excitement as the team quickly took control of the game. Four different Tigers scored touchdowns in the first half to give LSU a 28-0 leading heading back into the locker room at the break. Two more scores in the second half sealed the deal to put the game out of reach in the fourth quarter.</p>
  <img src="../../assets/photos/Liam4.JPG">
  <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter5']">Next Chapter</ion-button>
  <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter3']">Previous Chapter</ion-button>
  <ion-button color="medium" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
  <p class="page">Page 4</p>
</ion-content>
